<%= form_with model: @image, local: true, html: { class: "hello", multipart: true } do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: '.jpg, .jpeg, .gif, .png', class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $("#image_picture").bind("change", function() {
    var sizeInMB = this.files[0].size/1024/1024;

    if (sizeInMB > 5) {
      alert("Maximum files size is 5MB");
    }
  });
</script>
