<p id="notice"><%= notice %></p>

<div class="image-show">
  <div class="card">
    <div class="image-container">
      <%= image_tag @image.picture.url, alt: @image.name if @image.picture %>
    </div>

    <div class="card-body">
      <h5><%= @image.name %></h5>
      <p class="card-text"><%= @image.user.email %></p>
    </div>
  </div>

  <hr/>

  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>
