<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation/navigation_bar" %>
    <div class="col-8 mt-5 mx-auto">
      <%= render "layouts/alerts/alerts"%>
    </div>
    <div class="container col-8 mt-4">
      <%= yield %>
    </div>
  </body>
</html>
